
/* Устанавливаем box-sizing для всех элементов */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Базовые настройки */
body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.8;
    text-align: justify;
    height: 800px;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #231d1d;
    text-shadow: 2px 2px #bbcc009a;

}

header {
    position: relative;
    background: url("tesla.jpg") no-repeat center / cover;
    z-index: 0;

  }
  
  header::after {
    content: "";
    position: fixed;
    inset: 0;
    background-color: rgba(39, 19, 55, 0.5);
    z-index: -2;
  }


/* Заголовок */
h1 {
    font-family: 'Caveat', cursive;
    font-weight: 700;
    text-align: center;
    background-color: #333;
    color: white;
    padding: 20px;
    margin: 0;
    border-radius: 10px;
    position: relative; /* Позиционируем относительно потока */
    max-width: 800px;
    margin: 20px auto;
    text-shadow: 2px 2px #00ccaa;
}

/* Контейнер для текста */
.container {
    width: 600pt;
    max-width: 9.375in;
    height: 75%;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 27px 4px 8px 28px rgba(255, 0, 0, 0.2);
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    text-shadow: 2px 2px #ff00d4;
}

/* Параграфы */
p {
    margin: 15px 20px;
    color: #333;
}

/* Изображения */
img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 20px auto;
    border-radius: 10px;
    border: 2px solid #ccc;
    position: relative;
}

/* Ссылки */
a {
    color: #8f00cc;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: #004499;
}

/* Списки */
li {
    margin: 10px 0;
    color: #333;
}

ul, ol {
    padding-left: 40px;
}

/* Кнопки */
button {
    background-color: #0066cc;
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
}

button:hover {
    background-color: #004499;
}

/* Фиксированный блок */
.fixed-block {
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: hsl(102, 100%, 50%);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    z-index: 8888;
}

/* Абсолютное позиционирование */
.absolute-block {
    position: absolute;
    top: 100px;
    left: 20px;
    background-color: #0088cc;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
}
